body {
    /* background-color: aqua; */
    background-image: url("../image/rekeq.jpg");
    width: max-width;
    height: max-height;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

/* 以下PC版のcss */
h1 {
    font-size: 50px;
    /* padding-left: 50px;
    padding-top: 50px; */
}
h2 {
    font-size: 28px;
    padding: 20px;
}
a {
    display: block;
    width: 300px;
    margin-bottom: 15px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 15px px 15px 10px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    color: white;
}
.gradient{
    background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0));
    padding-top: 50px;
    padding-left: 50px;
}


.head {
    border-left: 10px solid #FFFFFF;
    margin-bottom: 100px;
}
.head h1 {
    padding-bottom: 20px;
    padding-left: 20px;
}
.head p {
    font-size: 20px;
    display: block;
    padding-left: 20px;
}



.question {
    background-color: black;
    display: block;
}