@charset "UTF-8";

body {
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo','sans-serif';
    font-size: 15px;
    /* solid,importantについてしらべる */
    border-top: 10px solid #8a79b1 !important;
}
/* リンクのアンダーラインを消すのと色を黒くした */
a {
    text-decoration: none;
    color: #333;
}
/* ロゴのセンタリング */
.logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.logo img {
    width: 5%;
    height: 5%;
    display: inline-block;
    margin-bottom: 5px;
}
.logo h1 {
    text-align: center;
}
/* 自分のよく使うものをクラスとしておく */
.w_inner {
    width: 100%;
    max-width: 1200px;
    /* 上下0左右オート、ページの限界に合わせて左右にマージン、センタリング綺麗に */
    margin: 0 auto; 
    background: #eee;
}
.header ul {
    /* 横並びになる */
    display: flex;
    margin-bottom: 30px;
}
.header ul li a {
    width: 18%;
    max-width: 239px;
    /* flexの補正のために使うことがある */
    border-right: 1px solid #ddd;
    text-align: center;
}
/* 疑似クラスの利用、最初の要素 */
.header ul li:first-child {
    border-left: 1px solid #ddd;
}
.header ul li a {
    /* 親要素の幅全てを満たすようにする */
    /* inline形のものとblock形のものがある */
    display: block;
}
.header_image {
    text-align: center;
}
/*
 ■blockは大きさの指定はできるが配置を指定できない
 ■inlineは大きさの指定はできないが配置を指定できる、ブロックレベル内で使用
 ■inlone-blockは大きさ、配置、余白の指定ができる
 */
.header_image img {
    width: 100%;
    display: inline-block;
}
.service {
    width: 300px;
    /* height: 300px; */
    display: inline-block;
} 
.container_service .service {
    width: 380px;
    text-align: center;
}
.container_service h2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* リストを横並びにするflex */
.container_service .service_block {
    display: flex;
    justify-content: space-between;
}
.container_service .service img {
    margin-bottom: 20px;
}
.container_service .service .title {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.container_service .service .explain {
    display: block;
    font-size: 20px;
}
.container_service .service a {
    display: inline-block;
    text-align: center;
    background-color: #8a79b1;
    color: #fff;
    padding: 15px 20px 12px;
}